header img {
    height: 100px;
}

.shop-name {
    font-weight: bolder;
    color: white;
    font-size: 25px;
}

nav {
    background-color: dodgerblue;
    .nav-item a {
        color: white;
    }
}
